.library-search {
    border: 4px solid black;
    border-radius: 0px;
    padding: 10px;
    color: black;
    font-size: 20px;
}
.library-search::placeholder {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.library-item {
    border: 4px solid black;
    border-radius: 0px;
    font-weight: normal;
}

.library-item-title {
    font-size: 20px !important;
}

.library-item:hover {
    font-weight: bold !important;
}

.stretched-link:hover {
    text-decoration: none;
}

.strategy-tile {
    height: 350px !important;
}

.strategy-description {
    max-height: 140px !important;
    overflow: hidden;
}

.strategy-button {
    background-color: black;
    width: 75px;
    height: 37px;
    color: white !important;
    margin: 2px;
}
.heart {
    background-color: transparent !important;
    border-radius:  10px 10px 5px 5px !important;
    width: 77px;
    height: 41px;
    margin-top: -2px;
}

.heart-active {
    background: url('./heart-active.png') no-repeat center;
}

.heart-inactive {
    background: url('./heart-inactive.png') no-repeat center;
}
.strategy-button a {
    color: white !important;
}

.strategy-button a:hover {
    text-decoration: none;
}

.heart {
    font-size: 24px;
    color:white; 
}

.heart .inside{
    position:absolute;
    font-size: 20px;
    color: #4e4e4e !important;
    left:2px;
    top:2px;
}

.dropdown-toggle.track-button {
    padding-left: 10px;
    color: black !important;
}

.strategy-row {
    margin-bottom: 20px;
}
.strategy-row > div {
    border: solid 2px;
    margin: 0px 0px -2px 0px;
    padding: 0px;
}

.strategy-row > div > h4 {
    background-color: #dedede;
    padding:10px;
    margin: 0px;
}
.strategy-subitem-middle {
    padding-bottom: 10px;
}

.strategy-subitem-middle > h5 {
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    padding-left: 10px;
}

.strategy-row > div > div {
    border-left: solid 2px;
    border-top: solid 2px;
    margin: -2px;
    padding: 10px;
}

.strategy-link {
    text-align: center;
    text-decoration: underline;
}

.strategy-header {
    display: block;
    text-align: center;
}

