.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-img {
  border-radius: 100%;
}

.inline-flex {
  display: inline-flex;
}

.profile-group-name {
  padding-left: 10px;
}
