.flex--space-between--align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-all-checkins-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.checkin {
  font-size: 1.5rem;
}

.checkin--list {
  list-style-type: square;
}
