{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/nav.css' %}" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">AllHere</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% url 'home' as home_url %}
      <li class="nav-item {% if request.get_full_path == home_url %} active {% endif %}">
        <a class="nav-link" href="{{ home_url }}">Home</a>
      </li>
      {% url 'checkins' as checkins_url %}
      <li class="nav-item {% if request.get_full_path == checkins_url %} active {% endif %}">
        <a class="nav-link" href="{{ checkins_url }}">Checkins</a>
      </li>
      {% url 'students' as students_url %}
      <li class="nav-item {% if request.get_full_path == students_url %} active {% endif %}">
        <a class="nav-link" href="{{ students_url }}">Students</a>
      </li>
    </ul>
    <ul class="navbar-nav">
    {% if request.user.is_authenticated %}
      <li class="nav-item dropdown show">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img alt="profile image" class="rounded-circle nav-bar-profile-img" src="{{ request.user.avatar_url }}"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="{% url 'profile' %}" class="dropdown-item text-center">Profile</a>
          <a href="{% url 'logout' %}" class="dropdown-item text-center">Logout</a>
        </div>
      </li>
    {% else %}
      <li class="nav-item {% if request.get_full_path == login_url %} active {% endif %}"">
        {% url 'login' as login_url %}
        <a href="{{ login_url }}" >Login</a>
        }
      </li>
    {% endif %}
    </ul>
  </div>
</nav>
