{% extends "core/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<article class="container">
  <section class="space-between">
      <h1 class="mt-3 mb-3">Profile</h1>
      {% if view == 'display' %}
      <a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit</a>
      {% else %}
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" href="" form="profile_form" class="btn btn-primary">Save</button>
        <a href="{% url 'profile' %}" class="btn btn-light">Cancel</a>
      </div>
      {% endif %}
  </section>
  <section class="row pb-4 pt-3">
    <div class="col d-flex align-items-center">

      <img src="{{ user.avatar_url }}" alt="User Avatar" class="rounded-circle">
      <h2 class="pl-3">{{ user.name }} <small class="text-muted">{{ user.role.get_role_display }}</small></h2>
    </div>
  </section>
  <section class="row">
    {% block profile_content %}
    {% endblock %}
  </section>
</article>

{% endblock %}
