{% extends "core/base.html" %}

{% block title %}Checkin{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col col-md-6 offset-md-3">
		<form method="post">{% csrf_token %}
			<div class="form-group">
				<label for="{{ form.date.html_name }}">Date:</label>
				{{ form.date }}
			</div>

			<div class="form-group">
				<label for="{{ form.teacher.html_name }}">Teacher:</label>
				{{ form.teacher }}
			</div>

			<div class="form-group">
				<label for="{{ form.student.html_name }}">Student:</label>
				{{ form.student }}
			</div>

			<div class="form-group">
				<label for="{{ form.status.html_name }}">Status:</label>
				{{ form.status }}
			</div>

			<div class="form-group">
				<label for="{{ form.mode.html_name }}">Mode:</label>
				{{ form.mode }}
			</div>

			<div class="form-group">
				<label for="{{ form.notify_school_admin.html_name }}">Notify School Admin?</label>
				{{ form.notify_school_admin }}
			</div>

			<div class="form-group">
				<label for="{{ form.success_score.html_name }}">Success Score:</label>
				{{ form.success_score }}
			</div>

			<div class="form-group">
				<label for="{{ form.info_learned.html_name }}">Information Gathered:</label>
				{{ form.info_learned }}
			</div>

			<div class="form-group">
				<label for="{{ form.info_better.html_name }}">Improvements for Future:</label>
				{{ form.info_better }}
			</div>

		    <input type="submit" value="Submit" />
		</form>
	</div>
	</div>
</div>

{% endblock %}
