{% extends "core/base.html" %}

{% block title %}
Check-ins
{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-3 mb-3">Check-ins</h1>
    <a href="{% url 'checkin_add' %}" class="btn btn-primary">+ New</a>
  </div>

  {% if checkins %}
    {% if false %}
    <input class="form-control mb-3" type="search" placeholder="search...">
    {% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Teacher</th>
          <th>Student</th>
          <th>Feedback</th>
          <th>Better</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for checkin in checkins %}
          <tr>
            <th scope="row">
              <a href="{% url 'checkin' checkin.id %}">{{ checkin.date }}</a>
            </th>
            <td>
              <a href="mailto:{{ checkin.teacher.email }}">{{ checkin.teacher.name }}</a>
            </td>
            <td>
              {% if checkin.student.email %}
                <a href="mailto:{{ checkin.student.email }}">{{ checkin.student.name }}</a>
              {% else %}
                {{ checkin.student.name }}
              {% endif %}
            </td>
            <td>{{ checkin.info_learned | truncatechars:25 }}</td>
            <td>{{ checkin.info_better | truncatechars:25 }}</td>
            <td>
              <a href="{% url 'checkin_edit' checkin.id %}" class="btn btn-secondary btn-sm">Edit</a>
            </td>
        {% endfor %}
      </tbody>
    </table>
    <section class="d-flex justify-content-between align-items-center pb-4">
      <span>Showing all {{ checkins | length }} checkins</span>
      <a href="{% url 'checkins_csv' %}" class="btn btn-light" name="export">Export to CSV</a>
    </section>
  {% else %}
    <p class="text-center">Let's log a check-in!</p>
    <p class="text-center">Click <a href="{% url 'checkin_add' %}" class="badge badge-primary">+ New</a> now!</p>
  {% endif %}
</div>

{% endblock %}
