{% extends "core/base.html" %}

{% block title %}
Edit Check-in
{% endblock %}

{% block css %}
<style>
ul {
  list-style: none;
}

.btn-light.active, .btn-light:active, .show>.btn-light.dropdown-toggle {
  background-image: none;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
{% endblock %}

{% block content %}

<div class="container">

  <div class="d-flex justify-content-between align-items-center">
    {% if checkin.id is None %}
    <h1 class="mt-3 mb-3">Add Check-in</h1>
    {% else %}
    <h1 class="mt-3 mb-3">Edit Check-in</h1>
    <a href="{% url 'checkin_delete' checkin.id %}" class="btn btn-outline-danger">Delete</a>
    {% endif %}
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-4">
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.teacher.html_name }}">On behalf of Teacher:</label>
          <select name="{{ form.teacher.html_name }}" id="{{ form.teacher.id_for_label }}" class="form-control {% if form.teacher.errors %} is-invalid {% endif %}" {% if form.teacher.field.required %} required {% endif %}>
            {% for id, name in form.teacher.field.choices %}
              {% if id == form.teacher.value %}
            <option value="{{ id }}" selected>{{ name | truncatechars:41 }}</option>
              {% else %}
            <option value="{{ id }}">{{ name | truncatechars:41 }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <div class="invalid-feedback">
          {% for error in form.teacher.errors %}
            {{ error }}
          {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="{{ form.date.html_name }}">Date:</label>
            <!-- use type text instead of date so that we disable the time picker  -->
            <input id="{{ form.date.id_for_label }}" name="date" value="{{ form.date.value }}" placeholder="{{ form.date.html_name }}" type="text" class="form-control" required>
            {% for error in form.date.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="form-group col-md-6">
            <label for="{{ form.student.html_name }}">Student:</label>
            {{ form.student }}
            {% for error in form.student.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

        </div>

        <div class="form-row">
          <div class="form-group d-flex flex-column col-md-7 col-lg-6">
            <label for="{{ form.status.html_name }}">Status:</label>
            <div class="btn-group" data-toggle="buttons">
              {% for val, text in form.status.field.choices %}
                {% if form.status.value == val %}
                <label class="btn btn-light active">
                  <input type="radio" name="{{ form.status.html_name }}" id="option{{ forloop.counter }}" autocomplete="off" value="{{ val }}" checked>{{ text }}
                </label>
                {% else %}
                <label class="btn btn-light">
                  <input type="radio" name="{{ form.status.html_name }}" id="option{{ forloop.counter }}" autocomplete="off" value="{{ val }}">{{ text }}
                </label>
                {% endif %}
              {% endfor %}
            </div>
            {% for error in form.status.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="form-group d-flex flex-column col-md-5">
            <label for="{{ form.mode.html_name }}">Format:</label>
            <div class="btn-group" data-toggle="buttons">
              {% for val, text in form.mode.field.choices %}
                {% if form.mode.value == val %}
                <label class="btn btn-light active">
                  <input type="radio" name="{{ form.mode.html_name }}" id="option{{ forloop.counter }}" autocomplete="off" value="{{ val }}" checked>{{ text }}
                </label>
                {% else %}
                <label class="btn btn-light">
                  <input type="radio" name="{{ form.mode.html_name }}" id="option{{ forloop.counter }}" autocomplete="off" value="{{ val }}">{{ text }}
                </label>
                {% endif %}
              {% endfor %}
            </div>
            {% for error in form.mode.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="form-group col-md-12">
            <label for="{{ form.success_score.html_name }}">
              {% if request.user.district.custom_text_succces_score %}
                {{ request.user.district.custom_text_succces_score }}
              {% else %}
                How successful was the recent check-in you had with your mentee?
              {% endif %}
            </label>

            <div class="d-none">
              {{ form.success_score }}
            </div>
            <div class="d-flex align-items-center">
              <div class="mr-2 text-muted">Not at All Successful</div>
              <div class="btn-group" data-toggle="buttons">

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="1" checked>1
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="2" checked>2
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="3" checked>3
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="4" checked>4
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="5" checked>5
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="6" checked>6
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="7" checked>7
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="8" checked>8
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="9" checked>9
                </label>

                <label class="btn btn-light">
                  <input type="radio" name="radio-success-score" id="" autocomplete="off" value="10" checked>10
                </label>
              </div>
              <div class="ml-2 text-muted">Extremely Successful</div>
            </div>

        </div>

        <div class="form-group col-md-12">
          <label for="{{ form.info_learned.html_name }}">
            {% if request.user.district.custom_text_info_learned %}
              {{ request.user.district.custom_text_info_learned }}
            {% else %}
              What is the most important thing you learned about your mentee at your most recent mentoring check-in?
            {% endif %}
          </label>
          {{ form.info_learned }}
        </div>

        <div class="form-group col-md-12">
          <label for="{{ form.info_better.html_name }}">
            {% if request.user.district.custom_text_info_better %}
              {{ request.user.district.custom_text_info_better }}
            {% else %}
              What could have made this mentor check-in better?
            {% endif %}
          </label>
          {{ form.info_better }}
        </div>

        <!-- Hidden while "Notify School Admin?" is not implemented -->
        <div class="form-group d-none">
          <div class="form-check">
            <label class="form-check-label" for="{{ form.notify_school_admin.id_for_label }}">
              <input type="checkbox" id="{{ form.notify_school_admin.id_for_label }}" name="{{ form.notify_school_admin.html_name }}" {% if form.notify_school_admin.value %} checked="checked" {% endif %} class="form-check-input"/>
              Notify School Admin?
            </label>
          </div>
        </div>

        <input type="submit" class="btn btn-primary btn-block" value="Submit" />
      </form>

      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script>
$('input[name="date"]').datepicker({ format: 'm/dd/yyyy' });

document.addEventListener('DOMContentLoaded', function () {
  document.querySelectorAll('input[name="radio-success-score"]').forEach(function (x) {
    var slider = document.querySelector('#id_success_score');
    if (x.value === slider.value) {
      x.click();
    }
    x.onchange = function (event) {
      var value = event.target.value;
      document.querySelector('#id_success_score').value = value;
    };
  });
});

</script>
{% endblock %}
