{% extends "core/base.html" %}

{% block content %}

<article class="container">
    <section class="text-center">
      <h1 class="mt-3 font-weight-normal d-md-block d-none">Hello, {{ request.user.get_short_name }}.</h1>
  </section>

  <div class="row mb-4 mt-3 d-flex justify-content-center">

    {% comment "Disabled for 8/16 launch" %}
    {% if request.user.role == 'DA' %}
    <div class="col-md-4 col-lg-3">
      <div class="card text-center pb-4 mb-4">
        <div class="card-block d-flex flex-column align-items-center justify-content-center">
          <svg class="m-4 dark-gray-fill" width="97" height="85" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M960 0l960 384v128h-128q0 26-20.5 45t-48.5 19h-1526q-28 0-48.5-19t-20.5-45h-128v-128zm-704 640h256v768h128v-768h256v768h128v-768h256v768h128v-768h256v768h59q28 0 48.5 19t20.5 45v64h-1664v-64q0-26 20.5-45t48.5-19h59v-768zm1595 960q28 0 48.5 19t20.5 45v128h-1920v-128q0-26 20.5-45t48.5-19h1782z"/></svg>
          <a href="{% url 'home' %}" class="btn btn-outline-primary">Manage Schools</a>
        </div>
      </div>
    </div>
    {% endif %}

    {% if request.user.role == 'DA' or request.user.role == 'SA' %}
    <div class="col-md-4 col-lg-3">
      <div class="card text-center pb-4 mb-4">
        <div class="card-block d-flex flex-column align-items-center justify-content-center">
          <svg class="m-4 dark-gray-fill" width="97" height="85" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M657 896q-162 5-265 128h-134q-82 0-138-40.5t-56-118.5q0-353 124-353 6 0 43.5 21t97.5 42.5 119 21.5q67 0 133-23-5 37-5 66 0 139 81 256zm1071 637q0 120-73 189.5t-194 69.5h-874q-121 0-194-69.5t-73-189.5q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q10 0 43 21.5t73 48 107 48 135 21.5 135-21.5 107-48 73-48 43-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-1024-1277q0 106-75 181t-181 75-181-75-75-181 75-181 181-75 181 75 75 181zm704 384q0 159-112.5 271.5t-271.5 112.5-271.5-112.5-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5zm576 225q0 78-56 118.5t-138 40.5h-134q-103-123-265-128 81-117 81-256 0-29-5-66 66 23 133 23 59 0 119-21.5t97.5-42.5 43.5-21q124 0 124 353zm-128-609q0 106-75 181t-181 75-181-75-75-181 75-181 181-75 181 75 75 181z"/></svg>
          <a href="{% url 'home' %}" class="btn btn-outline-primary">Manage Users</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endcomment %}
    {% if request.user.role == 'T' %}
      <div class="col-md-4 col-lg-3">
        <div class="card text-center pb-4 mb-4">
          <div class="card-block d-flex flex-column align-items-center justify-content-center">
            <svg class="m-4 dark-gray-fill" width="85" height="85" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1444 548l-292 292v824q0 46-33 79t-79 33-79-33-33-79v-384h-64v384q0 46-33 79t-79 33-79-33-33-79v-824l-292-292q-28-28-28-68t28-68q29-28 68.5-28t67.5 28l228 228h368l228-228q28-28 68-28t68 28q28 29 28 68.5t-28 67.5zm-324-164q0 93-65.5 158.5t-158.5 65.5-158.5-65.5-65.5-158.5 65.5-158.5 158.5-65.5 158.5 65.5 65.5 158.5z"/></svg>
            <a href="{% url 'checkin_add' %}" class="btn btn-outline-primary">Add Check-in</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card text-center pb-4 mb-4">
          <div class="card-block d-flex flex-column align-items-center justify-content-center">
            <svg class="m-4 dark-gray-fill" width="85" height="85" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1444 548l-292 292v824q0 46-33 79t-79 33-79-33-33-79v-384h-64v384q0 46-33 79t-79 33-79-33-33-79v-824l-292-292q-28-28-28-68t28-68q29-28 68.5-28t67.5 28l228 228h368l228-228q28-28 68-28t68 28q28 29 28 68.5t-28 67.5zm-324-164q0 93-65.5 158.5t-158.5 65.5-158.5-65.5-65.5-158.5 65.5-158.5 158.5-65.5 158.5 65.5 65.5 158.5z"/></svg>
            <a href="{% url 'checkins' %}" class="btn btn-outline-primary">View Check-ins</a>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="col-md-4 col-lg-3">
      <div class="card text-center pb-4 mb-4">
        <div class="card-block d-flex flex-column align-items-center justify-content-center">
          <svg class="m-4 dark-gray-fill" width="85" height="85" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1444 548l-292 292v824q0 46-33 79t-79 33-79-33-33-79v-384h-64v384q0 46-33 79t-79 33-79-33-33-79v-824l-292-292q-28-28-28-68t28-68q29-28 68.5-28t67.5 28l228 228h368l228-228q28-28 68-28t68 28q28 29 28 68.5t-28 67.5zm-324-164q0 93-65.5 158.5t-158.5 65.5-158.5-65.5-65.5-158.5 65.5-158.5 158.5-65.5 158.5 65.5 65.5 158.5z"/></svg>
          <a href="{% url 'students' %}" class="btn btn-outline-primary">Manage Students</a>
        </div>
      </div>
    </div>
  </div>

  {% if request.user.role == 'T' %}
  <div class="row">
    <div class="col-md-9 ml-auto mr-auto">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pb-2">
            <h4 class="card-title">Recent Check-ins</h4>
            <a href="{% url 'checkin_add' %}" class="btn btn-primary">+ New</a>
          </div>
          {% if recent_checkins %}
          <ul class="list-group list-group-flush">
            {% for checkin in recent_checkins %}
            <li class="list-group-item">
              <a href="{% url 'checkin' checkin.id %}">
                Check-in for {{ checkin.student }} by {{ checkin.teacher }} at ({{ checkin.date }})
              </a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="text-center">No recent check-ins to display.</p>
          {% endif %}
        </div>
        <div class="card-footer">
          Displaying <b>{{ recent_checkins | length }}</b> of <b>{{ total }}</b> total check-ins, <a class="mt-2 " href="{% url 'checkins' %}">view all check-ins</a>.
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</article>

{% endblock %}

{% block css %}
<style>
  .dark-gray-fill {
    fill: #4e4e4e;
  }
</style>
{% endblock %}
