{% extends "core/base.html" %}
{% load static %}
{% block content %}

<article class="container">
  <section class="text-center">
    <h1 class="mt-3 font-weight-bold d-md-block d-none">How do you want to help your students today?</h1>
    <h5 class="mt-3 d-md-block d-none">Unlock student support practices and intervention strategies for your students and families.</h5>
    <form id="library-form" action="{% url 'strategies' %}">
        <input id="search" class="form-control library-search" name="search" type="search" placeholder="Type to seach practices and strategies">
        </form>

  </section>


  <div class="row mb-4 mt-3 d-flex justify-content-between">

    <div class="col-md-4 col-lg-4">
      <div class="card text-center mb-4 library-item">
        <div class="card-body">
          <a class="stretched-link" href="{% url 'strategies' %}" target="_blank">
            <p class="card-title mb-3 text-dark library-item-title">Browse Strategies</p>
            <img src="{% static 'core/looking-houses.svg' %}" width="50"/>
            <p class="card-text mt-2 text-dark">&nbsp;&nbsp;Find the right strategies for your students&nbsp;&nbsp;</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
        <div class="card text-center mb-4 library-item">
          <div class="card-body">
              <a class="stretched-link" href="{% url 'library_framework' %}">
                <p class="card-title mb-3 text-dark library-item-title">Framework Overview</p>
                <img src="{% static 'core/research.svg' %}" width="50"/>
                <p class="card-text mt-2 text-dark">&nbsp;&nbsp;Explore the why behind AllHere Strategies&nbsp;&nbsp;</p>
              </a>
          </div>
        </div>
      </div>

    <div class="col-md-4">
      <div class="card text-center mb-4 library-item" target="_blank">
        <div class="card-body">
          <a class="stretched-link" href="{% url 'strategy_favorites' %}">
            <p class="card-title mb-3 text-dark library-item-title">My Strategies</p>
            <img src="{% static 'core/ribbon-with-cross.svg' %}" width="50"/>
            <p class="card-text mt-2 text-dark">Quickly organize favorite strategies for planning</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <section class="text-left">
    <h1 class="mt-3 font-weight-bold d-md-block d-none">Recent Strategies</h1>
  </section>

  <div class="row mb-4 mt-3 d-flex justify-content-left">
    {% for strategy in strategies%}
      {% include "core/strategy_tile.html" with strategy=strategy %}
    {% endfor %}

  </div>

</article>

{% endblock %}

{% block css %}
<style>
  .dark-gray-fill {
    fill: #4e4e4e;
  }
</style>
{% endblock %}

{% block js %}
 <script src="{% static 'core/js/strategy_tile.js' %}"></script>
{% endblock %}
