<html>
  <head>
    <meta charset="utf-8">
    <title>AllHere</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/login.css' %}">
  </head>
  <body>
    <div class="d-flex h-100">
      <div class="container col-md-6 col-lg-3">

        <section class="d-flex mt-4 mb-2 justify-content-center">
          <img src="{% static 'core/logo_allhere_blue.png' %}" alt="AllHere" />
        </section>

        <div class="card lg-shadow">

          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>

          <div class="card-body">

            <form method="POST" action"{% url 'login' %}" class="form">
              {% csrf_token %}

              <div class="form-group">
                <label for="{{ form.username.html_name }}">Email</label>
                <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="email" type="email" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="{{ form.password.html_name }}">Password</label>
                <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="{{ form.password.html_name }}" type="password" class="form-control" required>

                <p class="text-muted">
                  <!-- <a href="{% url 'forgot_password' %}">Forgot Password?</a> -->
                  <a href="mailto:joanna@allhere.co?subject=I forgot my password"> Unable to log in or forgot password?</a>
                </p>

              </div>

              {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

              {% for error in form.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}

              <section class="d-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
              </section>

            </form>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>


