
<html>
  <head>
    <style>
      @page {
        size: letter landscape;
        margin: 2cm;
      }
    </style>
  </head>
<body>
  <table border="1">
    <thead style="font-size:20px; text-align: center; padding-top:10px;">
      <tr>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Date</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Teacher</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Student</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Status</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Format</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Info Learned</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Info Better</th>
       <th style="font-size:20px; text-align: center; padding-top:10px;">Success Score</th>
      </tr>
    </thead>
    <tbody>
      {% for checkin in checkins %}
        <tr>
          <th style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.date}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.teacher.name}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.student.name}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.get_status_display}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.get_mode_display}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.info_learned}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.info_better}}</td>
          <td style="font-size:12px; text-align: center; padding-top:10px;">{{checkin.success_score}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>

