{% extends "core/base.html" %}

{% block content %}
<article class="container">
  <section class="space-between">
      <h1 class="page-header">Profile</h1>
      <a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit</a>
  </section>
  <section class="row pb-4 pt-3">
    <div class="col d-flex align-items-center">

      <img src="{{ avatar_url }}" alt="User Avatar" class="rounded-circle">
      <h2 class="pl-3">{{ name }} <small class="text-muted">{{ role }}</small></h2>
    </div>
  </section>
  <section class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Personal Information</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Email:</b> <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>School:</b> <span>{{ school }}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><b>Department:</b> <span>{{ department }}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Activity</h4>
          <ul class="list-group list-group-flush">
            {% for checkin in recent_checkins %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ checkin.status }} {{ checkin.mode}}</li>
            {% endfor %}
            {% if not recent_checkins %}
            <p class="text-center">No recent activity to display.</p>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>

{% endblock %}
