{% extends "core/_profile_base.html" %}
{% block profile_content %}
<div class="card">
  <div class="card-body">
  <form id="profile_form" action="{% url 'profile_edit' %}" method="post">
    {% csrf_token %}

      <h4 class="card-title">Personal Information</h4>

      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center form-inline">
          {{ form.email.label_tag}}
          <div>
            <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" type="email" value="{{ form.email.value | default_if_none:'' }}" placeholder="Email Address" class="form-control {% if form.email.errors %} is-invalid {% endif %}"/>
            <div class="invalid-feedback">
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center form-inline">
          {{ form.school.label_tag }}
          {% if form.school.field.queryset %}
          <div>
            <select name="{{ form.school.html_name }}" id="{{ form.school.id_for_label }}" class="form-control {% if form.school.errors %} is-invalid {% endif %}">
              {% for school in form.school.field.queryset %}
                {% if school == request.user.school %}
              <option value="{{ school.pk }}" selected>{{ school.name }}</option>
                {% else %}
              <option value="{{ school.pk }}">{{ school.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="invalid-feedback">
            {% for error in form.school.errors %}
              {{ error }}
            {% endfor %}
            </div>
          </div>
          {% else %}
          <p class="text-muted">Sorry. There aren't any available schools to choose from in your district.</p>
          {% endif %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center form-inline">
          {{ form.department.label_tag}}
          <div>
            <input id="{{ form.department.id_for_label }}" name="{{ form.department.html_name }}" type="text" value="{{ form.department.value | default_if_none:'' }}" placeholder="Department" class="form-control {% if form.department.errors %} is-invalid {% endif %}"/>
            <div class="invalid-feedback">
            {% for error in form.department.errors %}
              {{ error }}
            {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <div class="card-footer">If you would like to change your avatar, please visit Gravatar's website, <a href="https://secure.gravatar.com/">secure.gravatar.com</a>
  </div>
</div>

{% endblock %}
