{% extends "core/base.html" %}
{% load static %}
{% block title %}
Check-in
{% endblock %}
{% block css %}
<style>
ul {
  list-style: none;
}

.btn-light.active, .btn-light:active, .show>.btn-light.dropdown-toggle {
  background-image: none;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
{% endblock %}
{% block content %}
<form action={% url 'reports-chart' %} target="_blank">
  <div class="container mt-5">
    <div class="row">
      <div class="form-group col-md-6 clickable">
        <div class='right-inner-addon date datepicker' data-date-format="yyyy-mm-dd">
          <img onclick="changeFromDate()"src="{% static 'core/calendar.svg' %}"/>
          <input id="from"  name="from" type="text" class="form-control" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 clickable">
      	<div class='right-inner-addon text-danger' data-date-format="yyyy-mm-dd">
          <img  onclick="changeToDate()" src="{% static 'core/calendar.svg' %}"/>
  	      <input id="to" name="to" type="text" class="form-control" required/>
     		</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
      	<select name="school" id="school" required>
          <option value="">Select School</option>
          {% for school in request.user.schools %} 
            <option value="{{school.id}}">{{school.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
      	<select name="teacher" id="teacher" required>
          <option value="">Select Teacher</option>
          <option value="all">All</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
      	<select name="student" id="student" required>
          <option value="">Select Student</option>
          <option value="all">All</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <select name="type" required>
          <option value="">Select type</option>
          <option value="status">Number of Interventions by Status</option>
          <option value="mode">Percent of Intervention by Format</option>
          <option value="score">Number of Interventions by Number Score</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
      <button type="submit" class="btn btn-secondary btn-lg">Generate Report</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script>
$('input[name="from"]').flatpickr({
  dateFormat: 'm/d/Y',
  enableTime: false
});
$('input[name="to"]').flatpickr({
  dateFormat: 'm/d/Y',
  enableTime: false
});

function changeFromDate() {
  $("#from").trigger('focus');
}
function changeToDate() {
  $("#to").trigger('focus');
}

function onChangeDate() {
  var _from = $('#from').val();
  var _to = $('#to').val();
  var from = new Date(_from)
  var to = new Date(_to)
  if(_from == '' || _to == '' || from.getTime() <= to.getTime()) {
    if($('#from').hasClass('is-invalid')) {
      $("#from").removeClass('is-invalid')
    }
    if($('#to').hasClass('is-invalid')) {
      $("#to").removeClass('is-invalid')
    }
  } else {
    if(!$('#form').hasClass('is-invalid')) {
      $("#from").addClass('is-invalid')
    }
    if(!$('#to').hasClass('is-invalid')) {
      $("#to").addClass('is-invalid')
    }
  }
}

var from = document.querySelector('#from');
from.addEventListener('change', function () {
  onChangeDate();
});

var to = document.querySelector('#to');
to.addEventListener('change', function () {
  onChangeDate();
});

function checkDate(id) {
  if ($('#'+id).val() == '') {
    $('#'+id).addClass('is-invalid')
    return false;
  } else {
    $('#'+id).removeClass('is-invalid')
  }
  return true;
};
$('form').submit(function() {
    return checkDate('from') && checkDate('to');
});

var teacherNode = $('#teacher');
var schoolNode = $('#school');
var studentNode = $('#student');

function resetStudent() {
  studentNode.selectize()[0].selectize.destroy();
  studentNode.empty();
  studentNode.append(`<option value="">Select Student</option>`);
  studentNode.prop('required', true).selectize();
}

$("#school").change(function() {
  var schoolId = $("#school").val();
  $.get(`/schools/${schoolId}/staff.json/`,
    function(teachers) {
      teacherNode.selectize()[0].selectize.destroy();
      teacherNode.empty();
      teacherNode.append(`<option value="">Select Teacher</option>`)
      teacherNode.append(`<option value="all">All</option>`)
      teachers.forEach(teacher=> {
        teacherNode.append(`<option value="${teacher.id}">${teacher.first_name} ${teacher.last_name}</option>`)
      })
      teacherNode.prop('required',true).selectize();
      resetStudent();
    }
  )
});

$("#teacher").change(function() {
  var teacherId = teacherNode.val();
  var schoolId = schoolNode.val();
  if(teacherId == "") {
    resetStudent();
    return;
  }
  var url = `/schools/${schoolId}/students_json/`;
  if(teacherId != 'all') {
    url = `/schools/${schoolId}/staff/${teacherId}/students.json/`;
  };

  $.get(url,
    function(students) {
      studentNode.selectize()[0].selectize.destroy();
      studentNode.empty();
      studentNode.append(`<option value="">Select Student</option>`)
      studentNode.append(`<option value="all">All</option>`)
      students.forEach(student=> {
        studentNode.append(`<option value="${student.id}">${student.first_name} ${student.last_name}</option>`)
      })
      studentNode.prop('required', true).selectize();
    }
  )

   

})

$('select').selectize();
</script>
{% endblock %}