{% extends "core/base.html" %}
{% load static %}
{% block title %}
Allhere Strategies
{% endblock %}

{% block content %}
<article class="container">
  <h1 class="mt-3 mb-5">Favorite Strategies</h1>

  <div class="row m-3 d-flex justify-content-left">
    {% if not request.user.strategy_favorites.all %}
      <h1>No Results</h1>
    {% endif %}
    {% for strategy in request.user.strategy_favorites.all %}
      {% include "core/strategy_tile.html" with strategy=strategy %}
    {% endfor %}
  </div>
</article>
{% endblock %}
{% block js %}
 <script src="{% static 'core/js/strategy_tile.js' %}"></script>
{% endblock %}