{% extends "core/base.html" %}
{% load static %}
{% block title %}
Allhere Strategies
{% endblock %}

{% block content %}
<article class="container">
  {% if search %}
    <section class="text-center">
      <h1 class="mt-3 font-weight-bold d-md-block d-none">How do you want to help your students today?</h1>
      <h5 class="mt-3 d-md-block d-none">Unlock student support practices and intervention strategies for your students and families.</h5>
      <form id="library-form" action="{% url 'strategies' %}">
        <input id="search" class="form-control strategy-search" value="{{search}}" name="search" type="search" placeholder="Type to seach practices and strategies">
      </form>    
    </section>
    <h1 class="mt-3 mb-5">Search Results: {{search}}</h1>
  {% else %}
    <h1 class="mt-3 mb-5">AllHere Strategies</h1>
  {% endif %}

  <div class="row m-3 d-flex justify-content-left">
    {% if not strategies %}
      <h1>No Results</h1>
    {% endif %}
    {% for strategy in strategies %}
      {% include "core/strategy_tile.html" with strategy=strategy %}
    {% endfor %}
  </div>
</article>
{% endblock %}
{% block js %}
 <script src="{% static 'core/js/strategy_tile.js' %}"></script>
{% endblock %}