{% extends "core/base.html" %}

{% block title %}
Strategy
{% endblock %}

{% block content %}
<article class="container">
  <section class="space-between">
      <h1 class="mt-3 mb-3">{{ strategy.display_name }}</h1>
  </section>
  <section class="container">
    <div class="row">
      <h4 class="col">Grade Level</h4>
      <div class="col">{{ strategy.grade_level_from}} - {{ strategy.grade_level_to}}</div>
    </div>
    <div class="row">
      <h4 class="col">Student Grouping</h4>
      <div class="col">{{ strategy.student_grouping | safe }}</div>
    </div>
    <div class="row">
      <h4 class="col">Root Cause Domain(s)</h4>
      <div class="col">{# TODO #}</div>
    </div>
    <div class="row">
      <h4 class="col">Objective</h4>
      <div class="col">{# TODO #}</div>
    </div>
    <div class="row">
      <h4 class="col">Description</h4>
      <div class="col">{{ strategy.description }}</div>
    </div>
    <div class="row">
      <h4 class="col">Materials</h4>
      <div class="col">{# TODO #}</div>
    </div>
    <div class="row">
      <h4 class="col">Staff Actions</h4>
      <div class="col">
        <div>
          <h5>Before</h5>
          <div>{# TODO #}...before stuff</div>
        </div>
        <div>
          <h5>After</h5>
          <div>{# TODO #}...after stuff</div>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="col">Student Actions</h4>
      <div class="col">{# TODO #}</div>
    </div>
  <div class="row">
    <h4 class="col">Family Actions</h4>
    <div class="col">{# TODO #}</div>
  </div>
  <div class="row">
    <h4 class="col">Evidence of Success (Address student engagement, family engagement, and content produced.)</h4>
    <div class="col">{# TODO #}</div>
  </div>
  <div class="row">
    <h4 class="col">Quick Tips</h4>
    <div class="col">{# TODO #}</div>
  </div>
  <div class="row">
    <h4 class="col">Watch Out For!</h4>
    <div class="col">{# TODO #}</div>
  </div>
  </section>
  <section class="container">
      <div class="row">
          <h4 class="col">Other Resources</h4>
          <div class="col">
            <h5>Outside Links</h5>
          </div>
          <div class="col">
            <h5>Helpful Links</h5>
          </div>
      </div>
  </section>
</article>

{% endblock %}
