{% extends "core/base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<article class="container pb-3">

  <section class="space-between strategy-header">
    &nbsp
  </section>
  <section class="container strategy-row" style="width: 60%;">
    <div class="row" >
      <h4 class="col-md-4 col-sm-12">Practice</h4>
      <div class="col-md-8 col-sm-12">{{strategy.practice}}</div>
    </div>
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Strategy</h4>
      <div class="col-md-8 col-sm-12">{{strategy.display_name}}</div>
    </div>
  </section>
  <section class="container strategy-row mb-3">
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Grade Level</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.grade_level_from}} - {{ strategy.grade_level_to}}</div>
    </div>
    {% if strategy.student_grouping|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Student Grouping</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.student_grouping | safe }}</div>
    </div>
    {% endif %}
    {% if strategy.root_cause_domains|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Root Cause Domain(s)</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.root_cause_domains }}</div>
    </div>
    {% endif %}
    {% if strategy.objective|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Objective</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.objective }}</div>
    </div>
    {% endif %}
    {% if strategy.description|striptags|length > 0 %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Description</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.description }}</div>
    </div>
    {% endif %}
    {% if strategy.materials|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Materials</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.materials|safe }}</div>
    </div>
    {% endif %}
    {% if strategy.staff_actions_after|striptags|lower != 'nd' and strategy.staff_actions_before|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Staff Actions</h4>
      <div class="col-md-8 col-sm-12">
        <div class="strategy-subitem-middle">
          <h5>Before</h5>
          <div>{{ strategy.staff_actions_before | safe }}</div>
        </div>
        <div class="strategy-subitem-middle">
          <h5>After</h5>
          <div>{{ strategy.staff_actions_after | safe }}</div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if strategy.student_actions|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Student Actions</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.student_actions | safe }}</div>
    </div>
    {% endif %}
    {% if strategy.family_actions|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Family Actions</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.family_actions | safe }}</div>
    </div>
    {% endif %}
    {% if strategy.evidence_of_success|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Evidence of Success (Address student engagement, family engagement, and content produced.)</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.evidence_of_success | safe }}</div>
    </div>
    {% endif %}
    {% if strategy.quick_tips|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Quick Tips</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.quick_tips | safe }}</div>
    </div>
    {% endif %}
    {% if strategy.watch_out_for|striptags|lower != 'nd' %}
    <div class="row">
      <h4 class="col-md-4 col-sm-12">Watch Out For!</h4>
      <div class="col-md-8 col-sm-12">{{ strategy.watch_out_for | safe }}</div>
    </div>
    {% endif %}
    {% if strategy.other_resources_links|striptags|lower != 'nd' and strategy.other_resources_downloads|striptags|lower != 'nd' %}
    <div class="row">
      <base target="_blank">
      <h4 class="col-md-4 col-sm-12">Other Resources</h4>
      <div class="col-md-4 col-sm-12 strategy-link">
        <h5>Outside Links</h5>
        <p>{{ strategy.other_resources_links | safe }}</p>
      </div>
      <div class="col-md-4 col-sm-12 strategy-link">
        <h5>Helpful Links</h5>
        <p>{{ strategy.other_resources_downloads | safe }}</p>
      </div>
    </div>
    {% endif %}
  </section>
</article>

{% endblock %}
