{% load static%}
<div class="col-md-4">
    <div class="card text-left mb-4 library-item strategy-tile">
        <div class="card-body">
        <a class="stretched-link text-dark" href="/strategies/{{ strategy.id }}">
            <p class="mb-4 card-text font-weight-bold text-dark">{{ strategy.practice }}</p>
            <p class="mb-4 card-text "><span class="font-weight-bold">Strategy:</span> {{ strategy.display_name }}</p>
            <p class="mb-0 card-text strategy-description"><span class="font-weight-bold">Description:</span> {{ strategy.description }}</p>
        </a>
        </div>
        <div class="d-flex justify-content-end">
            {% if strategy in request.user.strategy_favorites.all %}
            <div role="img text" alt="Remove from favorites" title="Remove from favorites" class="btn btn-default heart heart-active" id="{{strategy.id}}" onclick="$(this).strategies_favorites_cud('{{ strategy.id }}')">
            {% else %}
            <div role="img text" alt="Add to favorites" title="Add to favorites" class="btn btn-default heart heart-inactive" id="{{strategy.id}}" onclick="$(this).strategies_favorites_cud('{{ strategy.id }}')">
            {% endif %}
            </div>
            <div class="btn btn-default strategy-button">
                <a href="{% url 'checkin_add' %}">Track</a>
            </div>
        </div>
    </div>
</div>

