{% extends 'core/base.html' %}

{% block content %}
<article class="container">
  <h1>Support</h1>
  <div class="mb-4 video-container embed-responsive embed-responsive-16by9 col-lg-8">
    <iframe src="https://player.vimeo.com/video/199096280" width="640" height="400" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  </div>
  <div class="mb-4 embed-responsive embed-responsive-16by9 col-lg-8">
    <iframe src="https://player.vimeo.com/video/199099883" width="640" height="360" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</article>

{% endblock %}

